# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# mix dialyzer artifacts
/priv/plts/*.plt
/priv/plts/*.plt.hash

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
lambda_ethereum_consensus-*.tar

# Temporary files, for example, from tests.
/tmp/

*.beam
/config/*.secret.exs
.elixir_ls/

# Compiled artifacts.
*.o
*.a
*.h
*.so

# VSCode configuration dir.
.vscode/

!libp2p/utils.h
