participants:
  - el_type: geth
    el_image: ethereum/client-go:v1.14.12
    cl_type: lighthouse
    cl_image: sigp/lighthouse:v5.3.0
    validator_count: 32
  - el_type: geth
    el_image: ethereum/client-go:v1.14.12
    cl_type: lighthouse
    cl_image: sigp/lighthouse:v5.3.0
    validator_count: 32
  - el_type: geth
    el_image: ethereum/client-go:v1.14.12
    cl_type: lambda
    cl_image: lambda_ethereum_consensus:latest
    use_separate_vc: false
    count: 1
    validator_count: 32
    cl_max_mem: 4096
    keymanager_enabled: true

additional_services:
  - assertoor
  - tx_spammer
  - dora

assertoor_params:
  run_stability_check: false
  run_block_proposal_check: false
  tests:
    - https://raw.githubusercontent.com/lambdaclass/ethrex/refs/heads/main/.github/config/assertoor/el-stability-check.yaml

tx_spammer_params:
  tx_spammer_extra_args: ["--txcount=3", "--accounts=80"]