name: Assertoor tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '*' ]
    paths-ignore:
      - 'docs/**'
      - '.all-contributorsrc'
      - 'README.md'
      - 'LICENSE'
      - 'metrics/**'
jobs:
  ethereum-testnet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          tags: lambda_ethereum_consensus:latest
          load: true # Important for building without pushing
      - name: Setup kurtosis testnet and run assertoor tests
        uses: ethpandaops/kurtosis-assertoor-github-action@v1
        with:
          kurtosis_version: "1.4.2"
          ethereum_package_url: 'github.com/lambdaclass/ethereum-package'
          ethereum_package_branch: 'lecc-integration-and-assertoor'
          ethereum_package_args: './network-params.yml'
          # Additional configurations as needed
